section {
	margin: 30px 0;
}

#section_wrap {
	width: 1200px;
	margin: 0 auto;
}

#section_wrap .word {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}

#section_wrap .board_detail {
	width: 1024px;
	margin: 0 auto;
}

#section_wrap .board_detail table {
	width: 100%;
	border-collapse: collapse;
}

#section_wrap .board_detail table tr th,
#section_wrap .board_detail table tr td {
	border: 1px solid #e1e1e1;
	padding: 12px;
}

#section_wrap .board_detail table tr th {
	width: 120px;
	text-align: right;
	background-color: #f3f3f3;
}

#section_wrap .board_detail table tr td {
	text-align: left;
}

#section_wrap .board_detail table tr.content_row td {
	height: 220px;
	vertical-align: top;
	white-space: pre-wrap;
}

#section_wrap .buttons {
	width: 1024px;
	margin: 0 auto;
	text-align: right;
}

#section_wrap .buttons a {
	width: 100px;
	display: inline-block;
	margin: 15px 0 15px 5px;
	padding: 8px 0;
	text-align: center;
	border: 1px solid #adadad;
	border-radius: 5px;
	color: #2e2e2e;
	background-color: #f0f0f0;
	font-weight: bolder;
}

#section_wrap .buttons a:hover {
	background-color: #dedede;
}
